canvas{
    border: 2px solid black;
}
body{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 3px solid #333;
    background-color: #ffffff;
}

input[type="color"], 
input[type="range"], 
button,
label {
    display: block;
    margin: 15px auto;
    padding: 5px;
}

label {
    font-size: 14px;
    margin-top: 20px;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #555;
}

input[type="range"] {
    width: 80%;
    max-width: 300px;
}
